*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Alegreya', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.header {
    width: 100%;
    padding: 1px 0;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: black;
    box-shadow: 2px 5px 10px;
}

.header a {
    cursor: default;
}

.footer {
    padding: 0;
}

.mt-6 {
    margin-top: 4rem;
}

section {
    padding: 100px 0;
}

.header__logo {
    color: inherit;
    text-decoration: none;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    padding-bottom: 45px;
}

.hero__container {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 20px;
}

.hero__about {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    margin-left: -35px;
    justify-content: center;
}

.hero__title {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 1.1;
    font-weight: 600;
}

.hero__subtitle {
    font-size: 28px;
    font-weight: 600;
}

.hero__description {
    font-size: 20px;
}

.hero__contacts {
    font-size: 28px;
    margin-top: 45px;
    font-weight: 600;
}

.hero__links {
    display: flex;
}

.hero__link {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 40px;
    color: black;

    transition: color 0.3s;
}

.hero__link:hover {
    color: #4facfe;
}

.hero__box {
    max-width: 500px;
    min-width: 330px;
    width: 447px;
    height: 774px;
    justify-content: center;
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 10px;

    background-image: 
    linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border: 10px solid #fff;
    border-radius: 80% 20% 15% 85% / 46% 84% 16% 54%;
    box-shadow: 2px 5px 15px 
    rgba(0, 0, 0, 0.5);
    
}

.sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    line-height: 1.1;
    margin-top: 130px;
    margin-left: 105px;
    text-decoration: none;
}

.hero__skills li {
    list-style-type: none;
    font-size: 25px;
    margin-top: 10px;
    margin-left: -20px;
    text-align: center;
    width: 100%;
    padding: 10px;
    transition: transform .5s ease;
    cursor: default;
}

.hero__skills li:hover {
    transform: translateX(10px);
}

.section_title {
    margin-top: 45px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 40px 0;
    font-size: 40px;
    font-weight: 550;
    line-height: 1.1;
    margin-bottom: 20px;
}

.projects_container {
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.project_items a:hover {
    color: #00427c;
}

.headline h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.1;
    margin-bottom: 50px;
}

.projects i{
    font-size: 25px;
    color: black
}

.project_links a{
    display: inline-block;
    margin-left: 30%;
    margin-top: 25px;
    font-size: 75px;
    color: black;
    
    border-width: 100px;
    justify-content: right;
    align-items: center;

    transition: color 1s;
}

.project_names li{
    display: block;
    float: left;
    margin-top: 30px;
    margin-left: 10%;
    text-decoration: none;
    border-bottom: 3px solid black;
    font-size: 25px;
    font-weight: 600;

}

.project_links a:hover {
    color: #0265bd;
}

@media screen and (max-width: 978px) {
    .hero {
        padding-top: 30px;
    }

    .hero__container {
        grid-row-gap: 20px;
    }

    .hero__title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .hero__subtitle {
        font-size: 26px;
        font-weight: 700;
    }

    .hero__contacts {
        font-size: 26px;
        font-weight: 700;
    }
    
    .h1 { 
        font-size: 24px;
        font-weight: 700;
    }
    .h2 {
        font-size: 22px;
    }

    .hero__description {
        font-size: 20px;
    }

    .sidebar {
        font-size: 28px;
        text-align: center;
    }

    .hero__skills li {
        text-align: center;
        align-items: center;
    }

    .hero__about {
        text-align: center;
    }

    .hero__links {
        justify-content: center;
    }

    .hero__box {
        max-width: 400px;
        justify-content: center;
        margin-left: 15%;
    }

    .section_title {
        font-size: 28px;
        font-weight: 700;
    }

    .sidebar {
        font-size: 20px;
        margin-left: 105%;
        align-items: center;
    }

    .hero__skills li {
        font-size: 22px;
    }

    .headline h2 {
        font-size: 28px;
    }   

    .project_links a {
        font-size: 50px;
        align-items: center;
        justify-content: center;
    }
    .project_names li {
        display: inline-flex;
        flex-direction: row;
        float: center;
        border-bottom: 0px;
        font-size: 18px;
        text-align: right;
        
    }
}